@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@using SonOfCod.ViewModels

@model LoginViewModel

<h2>Admin Login</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn-dark" value="Log out" />
    }
}

else
{
    @using (Html.BeginForm())
    {
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)

        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)

        <input type="submit" value="Log in" class="btn-dark" />
    }
    <h5>Register has been hidden to prevent security breaches. "/Account/Register"</h5>
}
