<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Wastelander</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/minified-tuxedo.css" />
        <script src="~/js/minified-tuxedo.js"></script>


    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <h2 class="form-header-dark">Son Of Cod</h2>
    <hr />
    <nav class="nav-dark">
        <ul class="menu-items">
            <li class="f-col-1 flex-center">
                @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li class="f-col-1 flex-center">
                @Html.ActionLink("Marketplace", "Index", "Marketplace")
            </li>
            <li class="f-col-1 flex-center">
                @Html.ActionLink("Newsletter", "Index", "Newsletter")
            </li>
            <li class="f-col-1 flex-center">
                @Html.ActionLink("Admin Login", "Login", "Account")
            </li>
        </ul>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
